<% include ../partials/header %>
		<script>
			$(function(){
				var uname, pass, both;
				console.log('http://' + location.host + '/');
				// Form has been submitted, initiate validation proceedure
				$("form").submit(function(e){
					var bad = false;
					console.log('form submitted');
					e.preventDefault();
					uname = $('#uname');
					pass = $('#pwOne');
					both = $('#uname, #pwOne');

					// check username length
					if(uname.val().length <= 0){
						console.log('length error');
						uname.addClass('invalid').removeClass('valid');
						bad = true;
					}

					// check password length
					if(pass.val().length <= 0){
						console.log('pw len error');
						pass.addClass('invalid').removeClass('valid');
						bad = true;
					}

					// only proceed if both look good
					if(!bad){
						both.addClass('valid').removeClass('invalid');

						console.log('No formatting errors, sending to server');

						// initiate post requst to server, attempt to login
						$.post("http://" + location.host + "/login", {user:uname.val(), pwOne:pass.val()}, function(data){
							if(data === 'success'){ // user logged in successfully
								
								console.log('ya boi logged in');
								// disable all fields so they cant login twice during countdown
								both.prop('disabled', true);
								$('#submit').prop('disabled', true);
								
								$('#badAlert').hide(); // hide failure message
								$('#goodAlert').show(); // show success message

								// begin 5 second countdown till redirection. Yeah, i realize it's nasty
								setTimeout(function(){$('#countdown').text($('#countdown').text() - 1);}, 1000);
								setTimeout(function(){$('#countdown').text($('#countdown').text() - 1);}, 2000);
								setTimeout(function(){$('#countdown').text($('#countdown').text() - 1);}, 3000);
								setTimeout(function(){$('#countdown').text($('#countdown').text() - 1);}, 4000);
								setTimeout(function(){$('#countdown').text($('#countdown').text() - 1);}, 5000);
								setTimeout(function(){window.location.replace('http://' + location.host + '/');}, 5000);
							}
							else{
								// user couldn't login, display bad message
								console.log('lol wut');

								$('#badAlert').show();

								// ensure all inputs and submission are enabled
								both.prop('disabled', false);
								$('#submit').prop('disabled', false);
							}
						});
					}
				});
			});			
		</script>
		<div class="container">
			<!--Username group-->
			<form id="formNoYeet" class="needs-validation" accept-charset="UTF-8">
				<div class="form-group row ">
					<label class="col-sm-2 col-form-label py-auto py-sm-auto my-sm-auto" for="uname"><h4><b>Enter Username</b></h4></label>
					<div class="col-sm-10 py-auto py-lg-auto my-lg-auto">
						<input type="username" class="form-control" id="uname" name="uname" placeholder="Username" required>
					</div>
				</div>
				<!--First password group-->
				<div class="form-group row">
					<label class="col-sm-2 col-form-label py-auto py-lg-auto my-lg-auto" for="pwOne"><h4><b>Enter Password</b></h4></label>
					<div class="col-sm-10 py-auto py-lg-auto my-lg-auto">
						<input type="password" class="form-control" id="pwOne" name="pwOne" placeholder="Password" required>
					</div>
				</div>
				<input type="submit" id="submit" value="Login" class="btn btn-primary btn-block">
			</form>
			<h5>Not Aleady A Member? <a href="/signup">Sign Up</a></h5>

			<!-- Successful login alert box -->
			<div class="alert alert-success" style="display: none;" role="alert" id="goodAlert">
				Successful login! Redirecting to the homepage in <span id="countdown">5</span>...
			</div>

			<!-- Failed login alert box -->
			<div class="alert alert-danger alert-dismissible" style="display: none;" role="alert" id="badAlert">
				Uh oh! Your username and/or password were incorrect. Please try again.
				<button type="button" class="close" onClick='$("#badAlert").hide();'data-dismiss="alert" aria-label="Close">
				</button>
			</div>
		</div>
	</body>
</html>