<% include ../partials/header %>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-3 card">
                    <div class="card">
                        <p>
                            Song Search
                            <form class="example m-auto m-sm-auto" action="/action_page.php" style="max-width: 300px;">
                                <input type="text" placeholder="Search.." name="search2">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </p>
                    </div>
                    <div class="card">
                        <p>
                            <a href="#">Queue</a>
                        </p>
                        <p>
                            <script type="text/javascript">
                                var clicks = 0;
                                function thumbs_up() {
                                    clicks += 1;
                                    $("#clicks").text(clicks);
                                    $('#up').disabled = true;
                                    $('#down').disabled = false;
                                }
                                function thumbs_down() {
                                    if (clicks > 0){
                                        clicks -= 1;
                                        $("#clicks").text(clicks);
                                        $('#down').prop('disabled', true);
                                        $('#up').prop('disabled', false);
                                    }
                                }
                            </script>
                            <button type="button" class="btn btn-default btn-sm" id='up' onclick="thumbs_up()">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id='down' onclick="thumbs_down()">
                                <i class = "fa fa-thumbs-down" aria-hidden = "true"></i>
                            </button>
                            <p>Votes: <span id="clicks">0</span></p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </p>
                    </div>
                </p>
            </div>
            <div class="col-sm-7">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-body" style = "background-color: #19222B">
                                <img id= "album" src = 'zep.jpg' width = "560px" height="560px">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <h3 id="song_title">Song Title</h3>
                            <p id="artist_name">Artist</p>
                            <button class="btn btn-primary" onclick="playPause()">Play/Pause</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 card">
                <div class="thumbnail">
                    <p>Server List:</p>
                    <button class="btn btn-primary room-btn" id="basin">A-Basin</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Copper Mountain</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Eldora</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Vail Resorts</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Winter Park</button>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </body>
</html>