<% include ../partials/header %>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="playback.js"></script>
        <div class="container text-center darkBlue">
            <div class="row">
                <div class="col-sm-3 card">
                    <div class="card clearfix">
                        <div class="card-body">
                            <span class="card-title">Song Search</span>
                            <form class="example" action="/action_page.php" style="margin:auto; max-width:300px;">
                                <input type="text" placeholder="Search.." name="search2">
                                <button class="float-left w-20" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>   
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Queue</h6>
                            <p>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                </button>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card text-center">
                            <div class="card-body darkBlue">
                                <img id="album" src = 'zep.jpg' width = "560px" height="560px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 card">
                        <div class="card-body">
                            <h3 id="song_title" class="card-title">Song Title</h3>
                            <h6 id="artist_name" class="card-subtitle">Artist</h6>
                            <button class="btn btn-primary" onclick="playPause()">Play/Pause</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <p>John:</p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="card">
                            <p>Chat Box</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 card">
                <div class="thumbnail">
                    <p>Server List:</p>
                    <button class="btn btn-primary">A-Basin</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary">Copper Mountain</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary">Eldora</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary">Vail Resorts</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary">Winter Park</button>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="col-sm-2 card">
                <div class="card">
                    <p>Users</p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </body>
</html>