<% include ../partials/header %>
        <!-- Chat box adapted from BhaumikPatel https://bootsnipp.com/snippets/r1KW -->
        <div class="container">
            <div class="row">
                <div class="col-sm-6 float-center">
                    <div class="card">
                        <div class="card-header bg-primary bog text-white">
                            <h5 class="card-title"><img src="resources/imgs/si-glyph-bubble-message-text.svg" /> Chat</h5>
                        </div>
                        <div class="card-body pt-lg-0 px-lg-1">
                            <ul id="messages" class="chat list-group list-group-flush">
                                <!-- <li class="left list-group-item clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="float-right text-muted">
                                                <img src="resources/imgs/si-glyph-clock.svg" />12 mins ago
                                            </small>
                                        </div>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right list-group-item clearfix">
                                    
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="text-muted">
                                                <img src="resources/imgs/si-glyph-clock.svg" />13 mins ago
                                            </small>
                                            <strong class="float-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left list-group-item clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="float-right text-muted">
                                                <img src="resources/imgs/si-glyph-clock.svg" /><span class="countAgo">14 mins ago</span>
                                            </small>
                                        </div>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right list-group-item clearfix">
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <img src="resources/imgs/si-glyph-clock.svg" />15 mins ago
                                            </small>
                                            <strong class="float-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <div class="card-footer">
                            <form>
                                <div class="input-group input-group-sm">
                                    <input id="chat-input" type="text" class="form-control" placeholder="Type your message here..." />
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-warning btn-sm" id="chat-submit" value="Send">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 card">
                    <div class="thumbnail">
                        <p>Server List:</p>
                        <button class="btn btn-primary room-btn" id="basin">A-Basin</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn">Copper Mountain</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn">Eldora</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn">Vail Resorts</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn">Winter Park</button>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Actual chat functionality -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            $(function () {
                var room;
                var socket = io();

                // makes string for adding elements
                function buildMsg(data, clientSaid){
                    var innerCount;

                    // timestamp stuff
                    var d = new Date();
                    var h = d.getHours(), m = d.getMinutes(), side = "AM";
                    if(h > 12){
                        h -= 12;
                        side = "PM";
                    }
                    var t = h.toString() + ":" + m.toString() + side;

                    if(clientSaid){
                        // client send message 
                        innerCount =
                        '<li class="right list-group-item clearfix">' +
                            '<div class="chat-body clearfix">' +
                                '<div class="header">' +
                                    '<small class="text-muted">' +
                                        '<img src="resources/imgs/si-glyph-clock.svg" />' + t +
                                    '</small>' +
                                    '<strong class="float-right primary-font">' + data.name + '</strong>' +
                                '</div>' +
                                '<p class="card-text">' +
                                    data.msg +
                                '</p>' +
                            '</div>' +
                        '</li>';
                    }
                    else{
                        innerCount =
                        '<li class="left list-group-item clearfix">' +
                            '<div class="chat-body clearfix">' +
                                '<div class="header">' +
                                    '<strong class="primary-font">' + data.name + '</strong>' +
                                    '<small class="float-right text-muted">' +
                                        '<img src="resources/imgs/si-glyph-clock.svg" />' + t +
                                    '</small>' +
                                '</div>' +
                                '<p class="card-text">' +
                                    data.msg +
                                '</p>' +
                            '</div>' +
                        '</li>';
                    }
                    return innerCount;
                }

                // sending socket message
                $('form').submit(function(e){
                    e.preventDefault(); // prevents page reloading
                    var data = {name:"<%= user %>", msg:$('#chat-input').val(), rm:room};
                    $('#messages').append(buildMsg(data, true));
                    socket.emit('chat message', data);

                    $('#chat-input').val('');
                    return false;
                });

                // receiving message from other people
                socket.on('chat message', function(data){
                    $('#messages').append(buildMsg(data, false));
                });


                // changing server room functionality
                $(".room-btn").click(function(){
                    var t = $(this).text();
                    $.post('http://localhost:3000/room-select', {rname:$(this).text()}, function(data){
                        if(data === 'success'){
                            console.log('Room changed successfully to ' + t);
                            room = t;
                        }
                        else{
                            console.log('Room change failed');
                        }
                    });

                });
            });
        </script>
    </body>
</html>