<% include ../partials/header %>
		<a class="btn btn-primary" id="spotifyButton" href="/spotify-auth">Authorize your spotify!</a>
		<div class="w3-display-middle">
	        <br>
	        <br>
	        <h1 class="w3-jumbo w3-animate-top"><font color="yello">Tracked Out</font></h1>
	        <br>
	        <hr class="w3-border-grey" style="margin:auto;width:40%">
	        <br>
	        <p class="w3-large w3-center">Select Current Resort</p>
	      </div>
	    </div>

		<div class="w3-display-bottommiddle">
			<a href="default.asp">
				<img class="roomIcon" src="https://www.eldora.com/assets/eldora/images/site-logo-desktop-translucent.svg" alt="Eldora">
			</a>
			<a href="default.asp">
				<img class="roomIcon" src="https://i2.wp.com/www.vailsnowpros.com/wp-content/uploads/2015/03/VAIL2-5509f307v1_site_icon.png?fit=512%2C512" alt="Vail">
			</a>
			<a href="default.asp">
				<img class="roomIcon" src="https://images.ctfassets.net/ycpblqmln66n/k96kdHutq0IoQwowkKc2E/fe5f0b5eba3f0d457cd7d9b9a36c887f/copper-mountain_2x.png" alt="Copper" >
			</a>

			<a href="default.asp">
				<img class="roomIcon" src="https://kunversion-frontend-blog.s3.amazonaws.com/images/6ade2f3778056f365384c8b609b88a7c73cc1c87.png" alt="Winter Park" >
			</a>
			<a href="default.asp">
				<img class="roomIcon" src="https://i.imgur.com/W8ZHo6E.png" alt="A-Basin">
			</a>
			<br>
			<br>
			<br>
			<br>
		</div>
	</body>
</html>