<% include ../partials/header %>
        <div class="container text-center my-auto my-sm-auto">
            <div class="row">
                <div class="col-sm-3 card">
                    <div class="card">
                        <p>
                            Song Search
                            <form id="form_search" style="max-width: 300px;">
                                <input type="text" placeholder="Search..." name="search2" id="songSearch">
                                <div class="dropdown">
                                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                    </button> -->
                                    <button type="button" id="dropButton" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <div class="dropdown-menu pr-5" aria-labelledby="dropButton">
                                        <a class="dropdown-item" href="#">
                                            <div class = "container search-result" id="result1">
                                                <img id = "item1a" src="resources/imgs/meme.png" width = "65" height = "65" align = "left">
                                                <div class = "container" id= "cont1in">
                                                  <div class="s1" id = 'item1b'>Hello i am song name dude</div>
                                                  <div class="s2" id = 'item1c'>Burger boi</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <div class = "container search-result" id="result2">
                                                <img id = "item2a" src="resources/imgs/meme.png" width = "65" height = "65" align = "left">
                                                <div class = "container" id= "cont1in">
                                                  <div class="s1" id = 'item2b'>Song Name</div>
                                                  <div class="s2" id = 'item2c'>Album Name</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <div class = "container search-result" id="result3">
                                                <img id = "item3a" src="resources/imgs/meme.png" width = "65" height = "65" align = "left">
                                                <div class = "container" id= "cont1in">
                                                  <div class="s1" id = 'item3b'>Song Name</div>
                                                  <div class="s2" id = 'item3c'>Album Name</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <div class = "container search-result" id="result4">
                                                <img id = "item4a" src="resources/imgs/meme.png" width = "65" height = "65" align = "left">
                                                <div class = "container" id= "cont1in">
                                                  <div class="s1" id = 'item4b'>Song Name</div>
                                                  <div class="s2" id = 'item4c'>Album Name</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <div class = "container search-result" id="result5">
                                                <img id = "item5a" src="resources/imgs/meme.png" width = "65" height = "65" align = "left">
                                                <div class = "container" id= "cont1in">
                                                  <div class="s1" id = 'item5b'>Song Name</div>
                                                  <div class="s2" id = 'item5c'>Album Name</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </form>

                        </p>
                    </div>
                    <div class="card h-100">
                        <p>
                            <a href="#">Queue</a>
                        </p>
                        <p>
                            <button type="button" class="btn btn-default btn-sm" id='up' onclick="thumbs_up()">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm" id='down' onclick="thumbs_down()">
                                <i class = "fa fa-thumbs-down" aria-hidden = "true"></i>
                            </button>
                            <p>Votes: <span id="clicks">0</span></p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                        </p>
                    </div>
                </p>
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-center">
                            <div class="panel-body" style = "background-color: #19222B">
                                <img id= "album" src = 'resources/imgs/zep.jpg' width = "560px" height="560px">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <h3 id="song_title">Song Title</h3>
                            <p id="artist_name">Artist</p>
                            <button class="btn btn-primary" onclick="mute_button()">Mute</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 card">
                <div class="thumbnail">
                    <p>Server List:</p>
                    <button class="btn btn-primary room-btn" id="basin">A-Basin</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Copper Mountain</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Eldora</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Vail Resorts</button>
                    <br/>
                    <br/>
                    <button class="btn btn-primary room-btn">Winter Park</button>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
        <script type="text/javascript">
            $(function(){
                // jQuery to refresh the Spotify WebAPI access token
                function refreshTheToken(){
                    $.ajax({url: location.protocol + "//" + location.host + "/refresh_token", success: function(result){
                        console.log('new access token: ' + result.access_token);
                        accessToken = result.access_token;
                    }});
                }

                // immediately get the access token
                var accessToken = refreshTheToken();
                
                var temp; // stores songs

                setInterval(function(){ refreshTheToken(); }, 1800000); // refresh the access token every 30 minutes

                function callback(response){ //required to access JSON data outside of ajax request
                    temp = response;

                    // fill out the 5 dropdown search results
                    for(var i = 0; i < 5 && i < temp.tracks.items.length; i++){
                        $('#item' + (i + 1) + 'a').attr('src', temp.tracks.items[i].album.images[0].url); //album image
                        $('#item' + (i + 1) + 'b').html((temp.tracks.items[i].name) + ' - ' + (temp.tracks.items[i].album.artists[0].name)); //song name + artist name
                        $('#item' + (i + 1) + 'c').html((temp.tracks.items[i].album.name)); //album name
                    }
                }

                //spotify ajax request
                $('#form_search').submit(function(e){
                    e.preventDefault(); //prevents page from rerendering after 'enter' key is pressed
                    var song = $('#songSearch').val(); 

                    $.ajax({
                        url:"https://api.spotify.com/v1/search?q=" + song + "&type=track&limit=8",
                        type: 'GET',
                        dataType: "text json",
                        //async: false,
                        headers: {
                            'Authorization': 'Bearer ' + accessToken
                        },
                        success: function(data) {
                            callback(data);
                            $('.dropdown-toggle').dropdown('toggle'); // open the dropdown to show the results
                        },
                        error: function() {
                            console.log('fail');
                        }
                    });

                });


                $('.search-result').click(function(){ //lets us know which song index was chosen, use index to get specific song uri
                    console.log(temp.tracks.items[this.id[6] - 1].uri); // logs URI of the song
                    $('.dropdown-toggle').dropdown('toggle'); // removes the dropdown from view
                });


                var clicks = 0;
                function thumbs_up() {
                    clicks += 1;
                    $("#clicks").text(clicks);
                    $('#up').prop('disabled', true);
                    $('#down').prop('disabled', false);
                }
                function thumbs_down() {
                    if (clicks > 0){
                        clicks -= 1;
                        $("#clicks").text(clicks);
                        $('#down').prop('disabled', true);
                        $('#up').prop('disabled', false);
                    }
                }

                var toggle = 1;

                function mute_button(){
                    if(toggle === 0){
                        player.setVolume(1).then(() => {
                            console.log('Volume');
                            toggle = 1;
                        });
                    }else if(toggle === 1){
                        player.setVolume(0).then(() => {
                            console.log('muted');
                            toggle = 0;
                        });
                    }
                }
            });
        </script>
    </body>
</html>
