<% include ../partials/header %>
        <!-- Chat box adapted from BhaumikPatel https://bootsnipp.com/snippets/r1KW -->
        <h1>BOGOGO</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 float-center">
                    <div class="card">
                        <div class="card-header bg-primary bog text-white">
                            <h5 class="card-title"><img src="resources/imgs/si-glyph-bubble-message-text.svg" /> Chat</h5>
                        </div>
                        <div class="card-body pt-lg-0 px-lg-1">
                            <ul id="messages" class="chat list-group list-group-flush">
                                <!-- Chat messages go here -->
                            </ul>
                        </div>
                        <div class="card-footer">
                            <form>
                                <div class="input-group input-group-sm">
                                    <input id="chat-input" type="text" class="form-control" placeholder="Type your message here..." autocomplete="off"/>
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-warning btn-sm" id="chat-submit" value="Send!">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 card">
                    <div class="thumbnail">
                        <p>Server List:</p>
                        <button class="btn btn-primary room-btn" id="basin">A-Basin</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn" id="copper">Copper Mountain</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn" id="eldora">Eldora</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn" id="vail">Vail Resorts</button>
                        <br/>
                        <br/>
                        <button class="btn btn-primary room-btn" id="winPark">Winter Park</button>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Actual chat functionality -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            // TODO: Disabled text field and submit button until a room is chosen
            $(function () {
                var room; // represents the current room the user is in

                // establishes socket connection to the server while sending the username as the parameter
                var socket = io({
                    query: {
                        name: '<%= user %>'
                    }
                });

                // makes string for adding elements to the chat log
                function buildMsg(data, clientSaid){
                    var innerCount;

                    // timestamp stuff
                    var d = new Date();
                    var h = d.getHours(), m = d.getMinutes(), side = "AM";
                    if(h > 12){
                        h -= 12;
                        side = "PM";
                    }
                    var t = h.toString() + ":" + m.toString() + side;

                    if(clientSaid){
                        // client send message 
                        innerCount =
                        '<li class="right list-group-item clearfix">' +
                            '<div class="chat-body clearfix">' +
                                '<div class="header">' +
                                    '<small class="text-muted">' +
                                        '<img src="resources/imgs/si-glyph-clock.svg" />' + t +
                                    '</small>' +
                                    '<strong class="float-right primary-font">' + data.name + '</strong>' +
                                '</div>' +
                                '<p class="card-text">' +
                                    data.msg +
                                '</p>' +
                            '</div>' +
                        '</li>';
                    }
                    else{
                        innerCount =
                        '<li class="left list-group-item clearfix">' +
                            '<div class="chat-body clearfix">' +
                                '<div class="header">' +
                                    '<strong class="primary-font">' + data.name + '</strong>' +
                                    '<small class="float-right text-muted">' +
                                        '<img src="resources/imgs/si-glyph-clock.svg" />' + t +
                                    '</small>' +
                                '</div>' +
                                '<p class="card-text">' +
                                    data.msg +
                                '</p>' +
                            '</div>' +
                        '</li>';
                    }
                    return innerCount;
                }

                // sending chat message
                $('form').submit(function(e){
                    e.preventDefault(); // prevents page reloading
                    
                    $('#messages').append(buildMsg({name:"<%= user %>", msg:$('#chat-input').val()}, true)); // add message to local chat log

                    socket.emit('chat message', $('#chat-input').val()); // send message to all other room participants

                    $('#chat-input').val(''); // clear input field
                    
                    return false; // not sure why this is here tbh, was in an example
                });

                // receiving message from other people
                socket.on('chat message', function(data){
                    $('#messages').append(buildMsg(data, false)); // add to the message log
                });


                // changing server room functionality
                $(".room-btn").click(function(){
                    var rname = $(this).text();// stores the name of the room

                    // actually attempting to change rooms
                    socket.emit('room join', room, rname, function(status){
                        if(status === 0){
                            console.log('Room change successful!');
                            
                            room = rname; // used for console logs, not very important

                            $('#messages').html('');// wipe message log when changing rooms
                        }
                        else{
                            console.log('Room change failed, status ' + status);
                        }
                    });
                });
            });
        </script>
    </body>
</html>